*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #eee;
}

body,
a {
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url(../images/bg-hd.jpg) center bottom no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

nav {
  background-color: rgba(51, 51, 51, 0.8);
  padding: 1em 0;
}

a.logo {
  color: var(--secondary-color);
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-right ul.flex li > a {
  color: var(--secondary-color);
  display: inline-block;
  font-size: 1.8rem;
  padding: 0 1em;
}
