/** Universal Style */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #eee;
}

body,
a {
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/** Header Section */
header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url(../images/bg-hd.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}

nav {
  background-color: rgba(51, 51, 51, 0.8);
  position: relative;
  padding: 1em 0;
  z-index: 1000;
}

a.logo {
  color: var(--secondary-color);
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-right ul.flex li > a {
  color: var(--secondary-color);
  display: inline-block;
  font-size: 1.8rem;
  padding: 0 1em;
  transition: text-shadow 0.2s ease-in-out;
}

.nav-right ul.flex li > a:hover {
  text-shadow: 0 0 0.1em rgb(238, 238, 238);
}

.banner-hd {
  position: absolute;
  top: 0;
  left: 0;
  height: 95%;
  width: 100%;
  z-index: 1;
}

.banner-hd h1 {
  font-size: 8rem;
}

.banner-hd p {
  font-size: 1.4rem;
  padding-bottom: 0.6em;
}

/** Main Section */
main {
  margin: 8em 0;
}

article {
  background-color: #fafafa;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  border-radius: 0.8em;
  padding: 1.6em 2.4em;
  margin: 0 2em;
}

article h2 {
  font-size: 3.6rem;
  margin: 0.2em 0;
}

article p {
  font-size: 1.25rem;
  font-weight: 300;
}

/** Footer Section */
footer {
  background-color: #333;
  padding: 1.8em 0;
}

footer p {
  color: #eee;
  font-size: 1.2rem;
  font-weight: 400;
}
