/** Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/** Custom Color */
:root {
  --main-color: #333333;
  --secondary-color: #eee;
}

/** Utilities Style */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ais-c {
  align-items: center;
}
